.pokedexLayout {
  width: 1219px;
  height: 855px;
  background-image: url("../img/pokedex.png");
  position: relative;
}

.pokemonName {
  position: absolute;
  margin-left: 710px;
  margin-top: 300px;
  width: 410px;
  height: 90px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Font */
font-family: "Lucida Console", "Courier New", monospace;
font-size: 62px;
animation-name: anim;
animation-duration: 1s;
animation-iteration-count: infinite;
}

@keyframes anim {
  0%, 20% { opacity: 0; }
  21%{ opacity: 1; }
  71%{ opacity: 1; }
 100% { opacity: 0; }
}

ul {
  height: 110px;
  width: 200px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  margin-left: 705px;
  margin-top: 645px;
  list-style-type: none;
  padding: 0;
  position: absolute;

  animation-name: selectable_background;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Ejemplo https://www.w3schools.com/css/css3_animations.asp */
@keyframes selectable_background {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

li {
  margin: 10px;
}

a {
  cursor: url("../img/cursor_invert.png"), auto;
}

.artwork {
  position: absolute;
  margin-left: 20px;
  height: 450px;
  margin-top: 180px;

  /* Animation */
  animation-name: animation_artwork;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Ejemplo https://www.w3schools.com/css/css3_animations.asp */
@keyframes animation_artwork {
  0% {
    left: 0px;
  }
  50% {
    left: 60px;
  }
  100% {
    left: 0px;
  }
}

.front {
  position: absolute;
  margin-left: 930px;
  margin-top: 655px;

  animation-name: animation_sprite;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.back {
  position: absolute;
  margin-left: 1020px;
  margin-top: 655px;

  animation-name: animation_sprite;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Ejemplo https://www.w3schools.com/css/css3_animations.asp */
@keyframes animation_sprite {
  0% {
    top: 0px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
