.pokedexLayout
{
	width : 1219px ;
	height: 855px ;
	background-color:green;
	background-image: url("pokedex.png");
	position:absolute;
	margin-top:20px;
	
	
	
}

ul{
	
	height: 110px;
	width: 200px;
	background-color:yellow;
	overflow:hidden; overflow-y:scroll;
    border-radius: 10px;
	margin-left:705px;
	margin-top:645px;
	list-style-type: none;
	padding: 0;
	
}

li {
  margin: 10px;
}

.artworkContainer
{
height: 110px;
	width: 200px;
	background-color:yellow;
    border-radius: 10px;
	margin-left:0;
	margin-top:0;
	list-style-type: none;
	padding: 0;
	
}