body {
  max-width: 1080px;
  margin: 0 auto;
  float: none;

  animation-name: background-loop;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  cursor: url(cursor.png),auto;

}

@keyframes background-loop {
  0%   {background-image:url("background-1.jpg")}
  15%  {background-image:url("background-1.jpg")}
  30%   {background-image:url("background-2.png")}
  45%  {background-image:url("background-2.png")}
  60%   {background-image:url("background-3.png")}
  75%  {background-image:url("background-3.png")}
  90%   {background-image:url("background-1.jpg")}
  100%   {background-image:url("background-1.jpg")}
}